<h2>Contact Us</h2>

<div class="form-box">
    <form>
       <!--
        name-input
        email-input
        subject-input
        message-text area
        submit-button
       -->
        <label>Full Name</label><br>
            <input type="text" id="first-name" name="fn"><br>
        <label>Email</label><br>
            <input type="text" id="email" name="em"><br>
        <label>Subject</label><br>
            <input type="text" id="subject" name="sb"><br>
       <label>Comments</label><br>
        <textarea rows="4" cols="50" id="comments" name="ms"></textarea><br>
        <input type ="submit" id="submit" value="SUBMIT">
    </form>
</div>
    
    <div class="feedback">
    </div>
    
