<div class="editorials">
    <h2>The Value of Money</h2>
    <figure>
       <img src="./img/image-1.jpg" alt="description of image" /> 
       <figcaption>Pocket money is carried by fewer people every year.</figcaption>
    </figure>
    <p><strong>When was the last time you paid for your groceries with cash? Chances are it's been a while.</strong></p>
    <p>The concept of carrying cash around is swiftly being bypassed by credit, debit, and phone technologies. Increasingly, people are distanced from their money as the sock of coins under the mattress has been replaced by a swipe of a phone over a reader. It's arguable that in today's reality of intangible technology, people have lost a sense of value with their money.</p>
    <p>Is this associated with more flippant spending habits? With online spending made the easiest it's ever been, perhaps. Where services like Patreon and Kickstarter charge only single dollars, and the effort to spend is minimal, perhaps all those single small purchases add up to a large spending problem nationaly.</p>

    <p><hr></p>

    <div class="floatcorrect">
        <h2>GMO Food</h2>
        <figure>
           <img src="./img/image-2.jpg" alt="description of image" /> 
           <figcaption>GMO grapes from Okanagan Valley.</figcaption>
        </figure>
        <p><strong>Do you like seedless grapes or seedless oranges? If you answered yes, then you like genetically-modified foods.</strong></p>
        <p>There is nothing wrong with genetically-modified foods. This is a process that has been ongoing since agricultural practices began. The selection of one stronger, hardier, or more fruitful crop is a form of intentional genetic modification. The interbreeding of these superior crops and the subsequent rejection of less desirable ones is a normal event in agriculture. This feeds more people at lower costs, preventing starvation conditions.</p><p>The same process is used in laboratories around the world. The difference is that the changes are done by selecting certain genes over others rather than rubbing two plants together to fertilize them.</p>

        <p><hr></p>
    </div>



   <div class="floatcorrect">
        <h2>View of World in 2100</h2>
        <figure>
           <img src="./img/image-3.jpg" alt="description of image" /> 
           <figcaption>Does the future hold promise?</figcaption>
        </figure>
        <p><strong>Are we heading to a 1984 future, or an idealized Star Trek utopia?</strong></p>
        <p>With the current political atmosphere it is tempting to generalize and assume humanity is on a downward spiral. This may be the case, but it would be ignoring that, for the most part, life is better than it ever has been. Infant mortality is down, education is up. Diseases that were once devastating can now be destroyed by a preventative vaccine. The last fifty years were productive in terms of human rights. What else could we want?</p>
        <p>This upwards trend may be experiencing a hiccup, but that is a normal part of any growth. There is still much to hope for in the future, perhaps what will be in more abundance in 2100 is hope itself. We live in an extremely cynical, sarcastic society where wholesome is mocked and kindness is scoffed at. To better ourselves and ensure our future is more Star Trek than 1984, perhaps a bit of hope is needed in the present.</p>
        <p><hr></p>
    </div>
</div>